
/* CSS reset */

body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

header, section, footer, aside, figure, figcaption {
	display: block; /* Fixes new HTML5 elements */
}

header, section, footer {
	float: left; 
	clear: both; 
	width: 100%;
}

ul, ol {
    display:block;
    list-style:none;
}


/* Typographic reset */
 
body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, ol, ul, li, aside, figcaption {
    font-weight: inherit;
    font-style: inherit;
    font-size: 16px;
    font-family: inherit;
    vertical-align: baseline;
}




/* page */

body {
    font: normal normal 13px/1.615 Helvetica,sans-serif;
    background: #EEE url(../images/background.jpg) no-repeat top left;
    max-width: 936px;
	width: 936px;
	margin: 2.615em auto;
	color:#111;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}

header {
    margin: 1em auto 2em;
}

a, a:link, a:visited, a:focus, a:hover, a:active  {
    color: #111;
    text-decoration: underline;
}

em {
    font-weight: bold;
    font-style: normal;
}

img.screenshot {
    margin-left: -26px;
}

figure {
    margin-top: 2em;
}

figcaption {
    color: #111;
    font-size: 1em;
    margin: -10px 0 0 16px;
    padding-bottom: 4em;
}

p, aside { 
    padding: 0 0 0.8125em 0; 
}

p { 
    padding-top: 10px;
}

aside { 
    border-top: 4px solid red;
    margin-top: 0;
    padding: 6px 0 36px;
    font-size: 14px;
}

aside a { 
    font-size: 14px;
}

h1, h2, h3, h4 { 
    margin-bottom: 5px;
    font-weight:normal; 
}
 
h1 {
    font-size: 2.615em;  /* 34px */
    line-height:1.18;
    font-weight: bold;
    color: red;
}

h2 { 
    font-size: 2em;  /* 26px */
    line-height:1.19;    
}

h3 {
    font-size: 1.618em; /* 21px */
    line-height:1.24;   
}

h4 {
    font-size: 1.308em; /* 17px */
    line-height:1.23;
}

cite {
    /*  „  “ ‚  ‘       */
    /*quotes:  "\201E" "\201C" "\201A " "\2018";*/
    /*  “  ” ‘  ’       */
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-style: italic;
}

cite:before {
    content: open-quote;
}

cite:after {
    content: close-quote;
}



/* color scheme & typographic scale */

.color-scheme, .typoggraphic-scale {
    margin: 30px 0 20px;
    overflow: hidden;
}

.color-scheme li {
    border: 1px solid #FFF;
    float: left;
    padding: 8px 14px 4px;
    margin-right: 14px;
    font-size: 0.875em;
}

.color-scheme li.color-ffffff {
    background: #FFF;
    border: 1px solid #CCC;
}

.color-scheme li.color-f2f2f2 {
    background: #F2F2F2;
    border: 1px solid #CCC;
}

.color-scheme li.color-e2e2e2 {
    background: #E2E2E2;
    border: 1px solid #CCC;
}

.color-scheme li.color-bbbbbb {
    color: #FFF;
    background: #BBB;
    border: 1px solid #FFF;
}

.color-scheme li.color-444444 {
    color: #FFF;
    background: #444;
    border: 1px solid #FFF;
}

.color-scheme li.color-ff2200 {
    color: #FFF;
    background: #FF2200;
    border: 1px solid #FFF;
}

.typoggraphic-scale li {
    display: inline-block;
    line-height: 1;
    color: #BBB;
    font-weight: bold;
    margin-right: 4px;
}

.typoggraphic-scale li.selected {
    color: #111;
}

.typoggraphic-scale li.size-6 {
    font-size: 6px;
}

.typoggraphic-scale li.size-7 {
    font-size: 7px;
}

.typoggraphic-scale li.size-8 {
    font-size: 8px;
}

.typoggraphic-scale li.size-9 {
    font-size: 9px;
}

.typoggraphic-scale li.size-10 {
    font-size: 10px;
}

.typoggraphic-scale li.size-11 {
    font-size: 11px;
}

.typoggraphic-scale li.size-12 {
    font-size: 12px;
}

.typoggraphic-scale li.size-14 {
    font-size: 14px;
}

.typoggraphic-scale li.size-16 {
    font-size: 16px;
}

.typoggraphic-scale li.size-18 {
    font-size: 18px;
}

.typoggraphic-scale li.size-21 {
    font-size: 21px;
}

.typoggraphic-scale li.size-24 {
    font-size: 24px;
}

.typoggraphic-scale li.size-36 {
    font-size: 36px;
}

.typoggraphic-scale li.size-48 {
    font-size: 48px;
}

.typoggraphic-scale li.size-60 {
    font-size: 60px;
}

.typoggraphic-scale li.size-72 {
    font-size: 72px;
}

.typoggraphic-scale li.size-96 {
    font-size: 96px;
}

.typoggraphic-scale li.size-120 {
    font-size: 120px;
}

.typoggraphic-scale li.size-144 {
    font-size: 144px;
}







/* Columns Grid */

.ten {
	width: 936px;
}
.nine {
	width: 840px; 
	display: block; 
	float: left; 
	margin-left: 24px;
}
.eight {
	width: 744px; display: block; float: left; margin-left: 24px;
}
.seven {
	width: 648px; display: block; float: left; margin-left: 24px;
}
.six {
	width: 552px; display: block; float: left; margin-left: 24px;
}
.five {
	width: 456px; display: block; float: left; margin-left: 24px;
}
.four {
	width: 360px; display: block; float: left; margin-left: 24px;
}
.three {
	width: 264px; display: block; float: left; margin-left: 24px;
}
.two {
	width: 168px; display: block; float: left; margin-left: 24px;
}
.one {
	width: 72px;  display: block; float: left; margin-left: 24px;
}


/* Leftmost column in each row */

.first, ten {
	margin-left: 0;	clear: left;
}


/* Column offsets */

.off-nine {
	margin-left: 864px;
}
.off-eight {
	margin-left: 768px;
}
.off-seven {
	margin-left: 672px;
}
.off-six {
	margin-left: 576px;
}
.off-five {
	margin-left: 480px;
}	
.off-four {
	margin-left: 384px;
}
.off-three {
	margin-left: 288px;
}
.off-two {
	margin-left: 192px;
}
.off-one {
	margin-left: 96px;
}


/* Pins element to the left or right corner */

.pin-left  {
	position: absolute; top: 0; margin-left: 0; left: 0;
}
.pin-right {
	position: absolute; top: 0; margin-left: 0; right: 0;
}


/* Combine with a column class */

.hang {
	float: right;
}




section {}
footer {}
