/* 
Title:	screen styles 
Author:	Thomas Duerr
*/


/* CSS reset */
body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Fixes new HTML5 elements */
header, section, footer, aside, figure, figcaption {
	display: block;
}

header, section, footer {
	float: left; 
	clear: both; 
	width: 100%;
}

ul, ol {
    display:block;
    list-style:none;
}


/* Typographic reset */
body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, ol, ul, li, aside, figcaption {
    font-weight: inherit;
    font-style: inherit;
    font-size: 16px;
    font-family: inherit;
    vertical-align: baseline;
}

/* page */
body {
    font: normal normal 16px/1.615 Helvetica,sans-serif;
    background: #EEE url(../images/noise.png) repeat top left;
    max-width: 936px;
	width: 936px;
	margin: 2.615em auto;
	color:#111;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}

header {
    margin: 1em auto 2em;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: #111;
    text-decoration: underline;
}

.button {
    margin-top: 12px;
}

.button a {
    display: inline-block;
    background: #c63929;
    background: url(../images/download.png) 25px 8px no-repeat, -moz-linear-gradient(0% 100% 90deg, #a20601 0%, #cb0500 50%, #db504d 50%, #f37873 100%);
    background: url(../images/download.png) 25px 8px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
    border: 1px solid #951100;
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333, 0 0 12px #888;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333, 0 0 12px #888;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333, 0 0 12px #888;
    color: #fff;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    padding: 10px 30px 12px 66px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
    outline: none;
}

.button a:hover {
    background: #cb0500;
    background: url(../images/download.png) 25px 8px no-repeat, -moz-linear-gradient(0% 100% 90deg, #891100 0%, #B51700 50%, #c63929 50%, #EE432E 100%);
    background: url(../images/download.png) 25px 8px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
}

.button a:active {
    background: #b30300;
    background: url(../images/download.png) 25px 8px no-repeat, -moz-linear-gradient(0% 100% 90deg, #700d00 0%, #9c1500 50%, #ad3224 50%, #d43c28 100%);
    background: url(../images/download.png) 25px 8px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 0 12px #888;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 0 12px #888;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 0 12px #888;
}

em {
    font-weight: bold;
    font-style: normal;
}

img.screenshot {
    margin-left: -26px;
}

figure {
    margin: 32px 0 0 0;
	width: 648px; 
	display: block; 
	float: left; 
	clear: left;
}

figcaption {
    color: #111;
    font-size: 13px;
    margin: -10px 0 0 16px;
    padding-bottom: 2em;
}

p, aside { 
    padding: 0 0 13px 0; 
}

p { 
	margin-left: 0;	
    padding-top: 10px;
	width: 648px; 
	display: block; 
	float: left; 
	clear: left;
}

aside { 
    border-top: 4px solid red;
	margin: 0 0 0 24px;
    padding: 6px 0 36px;
    font-size: 13px;
	width: 264px; 
	display: block; 
	float: left; 
}

aside a, aside li, aside span { 
    font-size: 13px;
}

aside ul li {
    margin: 7px 0 10px 13px;
}

aside code {
    background: transparent;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1, h2, h3 { 
    margin-bottom: 5px;
    font-weight:normal; 
}
 
h1 {
    font-size: 46px;
    line-height: 1.18;
    font-weight: bold;
    color: red;
}

h2 { 
    font-size: 32px;
    line-height: 1.19;    
}

section h2 {
    margin-top: 96px;
    font-weight: bold;
}

h3 {
    font-size: 21px;
    line-height: 1.24;
    font-weight: bold;
    margin: 72px 0 0 0;   
	width: 648px; 
	display: block; 
	float: left; 
	clear: left;
}

cite {
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-style: italic;
}

cite:before {
    content: open-quote;
}

cite:after {
    content: close-quote;
}

ul li {
    margin: 9px 0 14px 24px;
}

li.fixed {
    text-decoration: line-through;
    color: #888;
}

li.fixed a {
    color: #888;
}

em.page-counter-flag {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #BBB;
    color: #FFF;
    font-weight: normal;
    letter-spacing: 0;
    padding: 5px 8px;
}

em.new-page-flag {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #444;
    color: #FFF;
    padding: 5px 10px;
    font-weight: bold;
}

code {
    font-family: "Courier New",monospace;
    display: inline-block;
    padding: 3px 20px;
    background: #FFF;
    margin-bottom: 20px;
}

/* color scheme */
.color-scheme {
    display: inline-block;
    margin: 0 0 20px;
}

.font-stack, .color-scheme {
    -moz-box-shadow: 0 0 10px 1px #CCC;
    -webkit-box-shadow: 0 0 10px 1px #CCC;
    box-shadow: 0 0 10px 1px #CCC;
}

.color-scheme li {
    font-family: "Courier New",monospace;
    float: left;
    padding: 6px 14px 3px;
    font-size: 13px;
}

.color-scheme li.color-ffffff {
    background: #FFF;
}

.color-scheme li.color-f2f2f2 {
    background: #F2F2F2;
}

.color-scheme li.color-e2e2e2 {
    background: #E2E2E2;
}

.color-scheme li.color-bbbbbb {
    background: #BBB;
}

.color-scheme li.color-444444 {
    color: #FFF;
    background: #444;
}

.color-scheme li.color-ff2200 {
    color: #FFF;
    background: #FF2200;
}

#footer {
    color: #333;
    font-size: 12px;
    margin: 6em 0 3em;
    padding: 1em 0 0;
    border-top: 4px solid red;
    height: 60px;
}

#footer a,
#footer span {
    color: #333;
    font-weight: normal;
    font-size: 12px;
}

ul.issues, .features {
	margin-left: 0;	
	width: 648px; 
	display: block; 
	float: left; 
	clear: left;
}

ul.issues li {
    margin: 2px 0 0px 24px;
    list-style: disc;
    font-size: 14px;
}

ul.issues li a {
    font-size: 14px;
}

abbr {
    font-size: 92%;
}

.twitter img {
    position: relative;
    left: -7px;
}

.twitter span {
    position: relative;
    top: -11px;
}

#tweetmeme {
    position: relative;
    top: 6px;
    left: 35px;
}