
/* CSS reset */

body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

header, section, footer, aside, figure, figcaption {
	display: block; /* Fixes new HTML5 elements */
}

header, section, footer {
	float: left; 
	clear: both; 
	width: 100%;
}

ul, ol {
    display:block;
    list-style:none;
}


/* Typographic reset */
 
body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, ol, ul, li, aside, figcaption {
    font-weight: inherit;
    font-style: inherit;
    font-size: 16px;
    font-family: inherit;
    vertical-align: baseline;
}




/* page */

body {
    font: normal normal 16px/1.615 Helvetica,sans-serif;
    background: #EEE url(../images/noise.png) repeat top left;
    max-width: 936px;
	width: 936px;
	margin: 2.615em auto;
	color:#111;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}

header {
    margin: 1em auto 2em;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
    color: #111;
    text-decoration: underline;
}

a.button {
    color: #FFF;
    background: url(../images/download.png) 22px 10px no-repeat, -moz-linear-gradient(-90deg, #FF4C2F, #AF1900);
    background: url(../images/download.png) 22px 10px no-repeat, -webkit-gradient(linear,left top,left bottom,color-stop(0, #FF4C2F),color-stop(1, #AF1900));
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF4C2F', EndColorStr='#AF1900');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF4C2F', EndColorStr='#AF1900')";
    text-decoration: none;
    padding: 4px 20px 2px 60px;
    margin-top: 12px;
    display: inline-block;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-size: 24px;
    text-shadow: 0 -1px 0 #000;
}

a.button:hover {
    -moz-box-shadow: 0 0 12px #888;
    -webkit-box-shadow: 0 0 12px #888;
    box-shadow: 0 0 12px #888;
    text-decoration: none;
}

em {
    font-weight: bold;
    font-style: normal;
}

img.screenshot {
    margin-left: -26px;
}

figure {
    margin-top: 2em;
}

figcaption {
    color: #111;
    font-size: 0.8125em;
    margin: -10px 0 0 16px;
    padding-bottom: 2em;
}

p, aside { 
    padding: 0 0 0.8125em 0; 
}

p { 
    padding-top: 10px;
}

aside { 
    border-top: 4px solid red;
    margin-top: 0;
    padding: 6px 0 36px;
    font-size: 13px;
}

aside a, aside p, aside li { 
    font-size: 13px;
}

aside p { 
    padding-top: 0;
}

aside ul li {
    margin: 7px 0 10px 13px;
}

aside code {
    background: transparent;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1, h2, h3 { 
    margin-bottom: 5px;
    font-weight:normal; 
}
 
h1 {
    font-size: 2.615em;
    line-height:1.18;
    font-weight: bold;
    color: red;
}

h2 { 
    font-size: 2em;
    line-height:1.19;    
}

section h2 {
    margin-top: 3em;
}

h3 {
    font-size: 1.3125em;
    line-height:1.24;
    font-weight: bold;
    margin-top: 36px;   
}

cite {
    /*  „  “ ‚  ‘       */
    /*quotes:  "\201E" "\201C" "\201A " "\2018";*/
    /*  “  ” ‘  ’       */
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-style: italic;
}

cite:before {
    content: open-quote;
}

cite:after {
    content: close-quote;
}

ul li {
    margin: 9px 0 14px 24px;
}

li.fixed {
    text-decoration: line-through;
}

em.page-counter-flag {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #BBB;
    color: #FFF;
    font-weight: normal;
    letter-spacing: 0;
    padding: 5px 8px;
}

em.new-page-flag {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #444;
    color: #FFF;
    padding: 5px 10px;
    font-weight: bold;
}

code {
    font-family: "Courier New",monospace;
    display: inline-block;
    padding: 3px 20px;
    background: #FFF;
    margin-bottom: 20px;
}

/* color scheme & typographic scale */

.color-scheme {
    display: inline-block;
    margin: 0 0 20px;
}

#identity code, #identity .color-scheme {
    -moz-box-shadow: 0 0 10px 1px #CCC;
    -webkit-box-shadow: 0 0 10px 1px #CCC;
    box-shadow: 0 0 10px 1px #CCC;
}

.color-scheme li {
    font-family: "Courier New",monospace;
    float: left;
    padding: 6px 14px 3px;
    font-size: 0.8125em;
}

.color-scheme li.color-ffffff {
    background: #FFF;
}

.color-scheme li.color-f2f2f2 {
    background: #F2F2F2;
}

.color-scheme li.color-e2e2e2 {
    background: #E2E2E2;
}

.color-scheme li.color-bbbbbb {
    background: #BBB;
}

.color-scheme li.color-444444 {
    color: #FFF;
    background: #444;
}

.color-scheme li.color-ff2200 {
    color: #FFF;
    background: #FF2200;
}

.typoggraphic-scale {
    border-bottom: 1px solid #111;;
}

.typoggraphic-unit {
    margin: 0 0 20px;
}

.typoggraphic-scale li {
    display: inline-block;
    line-height: 1;
    color: #DDD;
    font-weight: bold;
    margin-right: 6px;
}

.typoggraphic-scale li.selected {
    color: #111;
}

.typoggraphic-scale li.size-6 {
    font-size: 6px;
}

.typoggraphic-scale li.size-7 {
    font-size: 7px;
}

.typoggraphic-scale li.size-8 {
    font-size: 8px;
}

.typoggraphic-scale li.size-9 {
    font-size: 9px;
}

.typoggraphic-scale li.size-10 {
    font-size: 10px;
}

.typoggraphic-scale li.size-11 {
    font-size: 11px;
}

.typoggraphic-scale li.size-12 {
    font-size: 12px;
}

.typoggraphic-scale li.size-14 {
    font-size: 14px;
}

.typoggraphic-scale li.size-16 {
    font-size: 16px;
}

.typoggraphic-scale li.size-18 {
    font-size: 18px;
}

.typoggraphic-scale li.size-21 {
    font-size: 21px;
}

.typoggraphic-scale li.size-24 {
    font-size: 24px;
}

.typoggraphic-scale li.size-36 {
    font-size: 36px;
}

.typoggraphic-scale li.size-48 {
    font-size: 48px;
}

.typoggraphic-scale li.size-60 {
    font-size: 60px;
}

.typoggraphic-scale li.size-72 {
    font-size: 72px;
}

.typoggraphic-unit li {
    display: inline-block;
    line-height: 1;
    color: #444;
    font-weight: normal;
    margin-right: 6px;
    font-size: 0.8125em;
}

.typoggraphic-unit li.unit-6 {
    margin-right: 8px;
}

.typoggraphic-unit li.unit-7 {
    margin-right: 8px;
}

.typoggraphic-unit li.unit-8 {
    margin-right: 9px;
}

.typoggraphic-unit li.unit-9 {
    margin-right: 7px;
}

.typoggraphic-unit li.unit-10 {
    margin-right: 6px;
}

.typoggraphic-unit li.unit-11 {
    margin-right: 6px;
}

.typoggraphic-unit li.unit-12 {
    margin-right: 9px;
}

.typoggraphic-unit li.unit-14 {
    margin-right: 10px;
}

.typoggraphic-unit li.unit-16 {
    margin-right: 13px;
}

.typoggraphic-unit li.unit-18 {
    margin-right: 20px;
}

.typoggraphic-unit li.unit-21 {
    margin-right: 20px;
}

.typoggraphic-unit li.unit-24 {
    margin-right: 26px;
}

.typoggraphic-unit li.unit-36 {
    margin-right: 44px;
}

.typoggraphic-unit li.unit-48 {
    margin-right: 62px;
}

.typoggraphic-unit li.unit-60 {
    margin-right: 76px;
}

.typoggraphic-unit li.unit-72 {
    margin-right: 0;
}

#footer {
    color: #333;
    font-size: 12px;
    margin: 6em 0 3em;
    padding: 1em 0 0;
    border-top: 4px solid red;
    height: 60px;
}

#footer a {
    color: #333;
    font-weight: normal;
    font-size: 12px;
}

#issues ul {
    
}

#issues ul li {
    margin: 2px 0 0px 24px;
    list-style: disc;
    font-size: 14px;
}

#issues ul li a {
    font-size: 14px;
}



/* Columns Grid */

.ten {
	width: 936px;
}
.nine {
	width: 840px; 
	display: block; 
	float: left; 
	margin-left: 24px;
}
.eight {
	width: 744px; display: block; float: left; margin-left: 24px;
}
.seven {
	width: 648px; display: block; float: left; margin-left: 24px;
}
.six {
	width: 552px; display: block; float: left; margin-left: 24px;
}
.five {
	width: 456px; display: block; float: left; margin-left: 24px;
}
.four {
	width: 360px; display: block; float: left; margin-left: 24px;
}
.three {
	width: 264px; display: block; float: left; margin-left: 24px;
}
.two {
	width: 168px; display: block; float: left; margin-left: 24px;
}
.one {
	width: 72px;  display: block; float: left; margin-left: 24px;
}


/* Leftmost column in each row */

.first, ten {
	margin-left: 0;	clear: left;
}


/* Column offsets */

.off-nine {
	margin-left: 864px;
}
.off-eight {
	margin-left: 768px;
}
.off-seven {
	margin-left: 672px;
}
.off-six {
	margin-left: 576px;
}
.off-five {
	margin-left: 480px;
}	
.off-four {
	margin-left: 384px;
}
.off-three {
	margin-left: 288px;
}
.off-two {
	margin-left: 192px;
}
.off-one {
	margin-left: 96px;
}


/* Pins element to the left or right corner */

.pin-left  {
	position: absolute; top: 0; margin-left: 0; left: 0;
}
.pin-right {
	position: absolute; top: 0; margin-left: 0; right: 0;
}


/* Combine with a column class */

.hang {
	float: right;
}

